name: exif_rename

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Nox
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('noxfile.py', 'pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Set up Nox
        uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd # 2025.11.12
        with:
          python-versions: '3.10, 3.11, 3.12, 3.13'
      - name: Run tests and report coverage
        run: |
          nox --report nox.json
      - name: Create job summary
        if: always()
        uses: airtower-luna/nox-report-to-job-summary@v1.0.0
        with:
          report: nox.json
      - name: Store coverage report
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: htmlcov/
